# Ignore .env files
.env
.env.*

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/
.ENV/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

*.sqlite3
# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled files
*.pyc
*.pyo

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ignore distribution/build files
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignore mypy type checker reports
.mypy_cache/
.dmypy.json
dmypy.json

# Ignore pytest cache
.pytest_cache/